<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Super Chat temps réel !</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    </head>
 
    <body class="accueil">
        <h1>Le super Chat temps réel !</h1>
        <section>
        <h2>Bienvenue sur mon super chat ! </h2>
            <a href="/chat">Participer au chat</a>
            <a href="/watcher">Observer le chat</a>
        </section>
        <section>
            <img src="assets/img/img1.jpg" alt="image de bienvenue">
        </section>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </body>
</html>

